<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark default-color ie-nav" [containerInside]="false">
  <mdb-navbar-brand>
      <a class="logo navbar-brand" href="#"><strong>NeuralNetwork</strong></a>
  </mdb-navbar-brand>
  <links>
      <ul class="navbar-nav ">
          <li class="nav-item  waves-light" mdbWavesEffect>
              <a href="" class="nav-link">Главная <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a href="/shops" class="nav-link">Магазины</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a href="/agents" class="nav-link">Агенты</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a href="/reports" class="nav-link">Отчеты</a>
          </li>
      </ul>
     
  </links>
</mdb-navbar>


