<app-nav></app-nav>
<div class="container-fluid">
  <h1 style="margin-left:40%;" class=" mt-4  ">Добавить задание</h1>
<div class="row d-block col-12">
 



    <label class="image-upload-container btn btn-bwm">
        <span>Select Image</span>
        <input #imageInput
               type="file"
               accept="image/*"
               (change)="processFile(imageInput)">
      </label>
      
      
      <div *ngIf="selectedFile" class="img-preview-container">
      
        <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
             [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
        </div>
      
        <div *ngIf="selectedFile.pending" class="img-loading-overlay">
          <div class="img-spinning-circle"></div>
        </div>
      
        <div *ngIf="selectedFile.status === 'ok'" class="alert alert-success"> Image Uploaded Succesfuly!</div>
        <div *ngIf="selectedFile.status === 'fail'" class="alert alert-danger"> Image Upload Failed!</div>
      </div>
      







</div>
